* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    behavior: smooth;
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.w-fit-content {
    width: fit-content !important;
}

.logo {
    width: 218px;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 134px;
    }
}

/* ------------------------------------------------------------------------------------ */
/* Variable Colors */
:root {
    /* Brand */
    --brand-primary: #5094F7;
    --brand-primary-hover: #1e70eb;

    --brand-darker: #1D4782;
    --brand-darker-hover: #133668;

    --brand-light: #1D4782;
    --brand-light-hover: #2e5a97;
    
    --brand-secondary: #F15942; 
    --brand-secondary-hover: #db2d12;

    /* Btn */
    --light-btn-bg: #FFFFFF;
    --light-btn-bg-hover: #c1d1eb;

    /* Text */
    --primary-text: #505A61;
    --secondary-text: #5F6168;
    --darker-text: #05131D;
    --light-text: #FFFFFF;
    --opacity-light: #E8EAEB;

    /* Form */
    --input-bg: #A8CAFB;

    /* Cases */
    --success: #2fd381;
    --danger: #D32F2F;
}

/* ------------------------------------------------------------------------------------ */
/* Color Classes */

/* Text */
.primary-text {
    color: var(--primary-text);
}

.secondary-text {
    color: var(--secondary-text);
}

.darker-text {
    color: var(--darker-text);
}

.light-text {
    color: var(--light-text);
}

.brand-text {
    color: var(--brand-primary);
}

.brand-darker-text {
    color: var(--brand-darker);
}

.brand-light-text {
    color: var(--brand-light);
}

.success-text {
    color: var(--success-text);
}

.danger-text {
    color: var(--danger-text);
}

/* Background colors */
.brand-bg {
    background-color: var(--brand-primary);
}

.brand-darker-bg {
    background-color: var(--brand-darker);
}

.brand-light-bg {
    background-color: var(--brand-light);
}

.brand-secondary-bg {
    background-color: var(--brand-secondary);
}

.success-bg {
    background-color: var(--success);
}

.danger-bg {
    background-color: var(--danger);
}

.light-bg {
    background-color: var(--light-text);
}

.light-btn-bg {
    background-color: var(--light-btn-bg);
}

.opacity-light {
    background-color: var(--opacity-light);
}

/* ------------------------------------------------------------------------------------ */
/* Fonts */

/* Font-weights */
/* regular */
.fw-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
}

/* medium */
.fw-500 {
    font-family: "Poppins", sans-serif;
    font-weight: 500 !important;
    font-style: normal;
}

/* semi-bold */
.fw-600 {
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-style: normal;
}

/* bold */
.fw-700 {
    font-family: "Poppins", sans-serif;
    font-weight: 700 !important;
    font-style: normal;
}

/* Font-tags */
h1 {
    font-size: 61px;
    line-height: 64px;
    letter-spacing: -4%;
    font-weight: 600;
}

h1.smaller {
    font-size: 52px;
    line-height: 57px;
    font-weight: 600;
}

h1.bigger {
    font-size: 80px;
    line-height: 100px;
    letter-spacing: -2%;
    font-weight: 600;
}

h2 {
    font-size: 38px;
    line-height: 42px;
    font-weight: 400;
}

h2.bigger {
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
}

h3.smaller {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

h3.bigger {
    font-size: 26px;
    line-height: 29px;
    font-weight: 600;
}

h4 {
    font-size: 19px;
    line-height: 24px;
    font-weight: 600;
}

h5 {
    font-size: 12px;
    line-height: 17px;
    font-weight: 600;
}

p {
    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
}

a {
    cursor: pointer;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
}

.caption {
    font-size: 9px;
    line-height: 12px;
    font-weight: 500;
}

.btn-text {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}

.bigger-btn-text {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

.smaller-btn-text {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2%;
    font-weight: 700;
}

button {
    font-family: "Urbanist", sans-serif;
}

/* ------------------------------------------------------------------------------------ */
/* Form */

.input-container {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}

.custom-input {
    border: .5px solid var(--input-bg);
    border-radius: 6px;

    color: var(--primary-text);
    padding: 17px 12px;
    font-size: 14px;
    line-height: 12px;
    font-weight: 600;
}

.custom-input::placeholder {
    opacity: 1;
    color: var(--brand-primary) !important;
    font-size: 14px;
    line-height: 12px;
    font-weight: 400;
}

textarea::placeholder {
    opacity: 1;
    color: var(--brand-primary) !important;
    font-size: 14px;
    line-height: 12px;
    font-weight: 400;
}


.custom-input:active, .custom-input:focus {
    outline: 1px solid var(--primary-text);
}

.custom-input:invalid {
    outline: 1px solid var(--danger);
}

/* ------------------------------------------------------------------------------------ */
/* Buttons */

.rounded-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;
    border-radius: 100px;
    border: none;
    box-shadow: none;
    min-width: 125px;

    color: var(--light-text);
    transition: 
        background-color .3s,
        opacity .3s;
}

.no-bg-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    box-shadow: none;
    background-color: transparent;
}

.square-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    border-radius: 9px;
    border: none;
    box-shadow: none;

    transition: background-color .3s;
}

.custom-btn.brand-bg:hover {
    background-color: var(--brand-primary-hover);
}

.custom-btn.brand-darker-bg:hover {
    background-color: var(--brand-darker-hover);
}

.custom-btn.brand-light-bg:hover {
    background-color: var(--brand-light-hover);
}

.custom-btn.light-btn-bg:hover {
    background-color: var(--light-btn-bg-hover);
}

.custom-btn.brand-secondary-bg:hover {
    background-color: var(--brand-secondary-hover);
}

.custom-btn:disabled {
    opacity: .5;
}


/* ------------------------------------------------------------------------------------ */
/* Folder Card */

/* Card base */
.card-fold {
    position: relative;
    width: 100%;
    border-radius: 20px 0 20px 20px;
    padding: 20px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.22);
}

/* Card detail container */
.card-top-container {
    width: 100%;
    position: absolute;
    top: -20px;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: end;
}

/* Card detail right bar */
.card-top-bar {
    height: 19px;
    width: 50%;
    border-radius: 0 20px 0 0;
}

/* Middle connector of card detail */
.folder-card-connection {
    height: 20px;
    width: 46px;
    transform: translateY(.5px);
}

/* Square Card */
.square-card {
    border-radius: 12px;
    box-shadow: 12px 12px 15px 0 rgba(0, 0, 0, 0.07);
}

/* Square Card */
.big-square-card {
    border-radius: 20px;
    box-shadow: -7px 8px 29px 0 rgba(0, 0, 0, 0.07);
}

.big-square-padding {
    padding: 76px 58px;
}

/* ------------------------------------------------------------------------------------ */
/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    
    background-color: transparent;
    padding: 48px 0 29px 0;
    width: 100%;
    box-shadow: none;

    transition: 
        background-color .3s,
        padding .3s,
        box-shadow .3s;
}

header.scrolled {
    background-color: var(--light-text);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    padding: 16px 0;
}

/* ------------------------------------------------------------------------------------ */
/* Footer */

.separator {
    width: 100%;
    height: 1px;
    display: block;
}

.social-media-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------------------------------------------------ */
/* Hero */

.hero {
    padding-top: 206px;
    padding-bottom: 100px;
}

.doctor-hero-img {
    max-width: 517px;
    transform: translate(40px, -24px);
}

.square-card-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    transform: translate(-70px, 70px);
}


/* ------------------------------------------------------------------------------------ */
/* Por que a Imagenio? */

.family-doctor-img {
    max-width: 926px;
}

.square-card-why-imagenio {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 9;
    transform: translateY(-50%);
}

/* ------------------------------------------------------------------------------------ */
/* Custom Carroussel */

.custom-carroussel-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    overflow-x: auto;
    behavior: smooth;
    scroll-behavior: smooth;
}

.carroussel-card {
    height: 320px;
    min-height: 320px;
    max-height: 320px;

    width: 32%;
    min-width: 32%;
    max-width: 32%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 31px 56px 0 56px;
}

.carroussel-card .arrow {
    width: 47px;
}

.carroussel-card h3 {
    max-width: 220px;
    padding-top: 39px;
    padding-bottom: 8px;
}

@media screen and (max-width: 1400px) {
    .carroussel-card {
        height: 360px;
        min-height: 360px;
        max-height: 360px;
    }
}

/* ------------------------------------------------------------------------------------ */
/* Practicity */

.img-doctor-female {
    max-width: 423px;
}

/* ------------------------------------------------------------------------------------ */
/* FAQ */

.faq-card-padding {
    padding: 33px 40px;
}

.faq-big-card-padding {
    padding: 47px 70px;
}

/* ------------------------------------------------------------------------------------ */
/* Custom Accordion */

.custom-accordion {
    border-top: 1px solid var(--opacity-light);
}

.custom-accordion.active .accordion-header .open-close-btn {
    transform: rotate(90deg);
}

.custom-accordion.active .accordion-content {
    grid-template-rows: 1fr;
}

.custom-accordion .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    cursor: pointer;

    .open-close-btn {
        transform: rotate(0deg);
        transition: .3s;
    }
}

.custom-accordion .accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms;
}

.custom-accordion .content-hider {
    overflow: hidden;
}