* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    behavior: smooth;
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.w-fit-content {
    width: fit-content !important;
}

.logo {
    width: 218px;
}

@media screen and (max-width: 1200px) {
    .logo {
        width: 134px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* ------------------------------------------------------------------------------------ */
/* Variable Colors */
:root {
    /* Brand */
    --brand-primary: #5094F7;
    --brand-primary-hover: #1e70eb;

    --brand-darker: #1D4782;
    --brand-darker-hover: #133668;

    --brand-light: #1D4782;
    --brand-light-hover: #2e5a97;
    
    --brand-secondary: #F15942; 
    --brand-secondary-hover: #db2d12;

    /* Btn */
    --light-btn-bg: #FFFFFF;
    --light-btn-bg-hover: #c1d1eb;

    /* Text */
    --primary-text: #505A61;
    --secondary-text: #5F6168;
    --darker-text: #05131D;
    --light-text: #FFFFFF;
    --opacity-light: #E8EAEB;

    /* Form */
    --input-bg: #A8CAFB;

    /* Cases */
    --success: #2fd381;
    --danger: #D32F2F;
}

/* ------------------------------------------------------------------------------------ */
/* Color Classes */

/* Text */
.primary-text {
    color: var(--primary-text);
}

.secondary-text {
    color: var(--secondary-text);
}

.darker-text {
    color: var(--darker-text);
}

.light-text {
    color: var(--light-text);
}

.brand-text {
    color: var(--brand-primary) !important;
}

.brand-darker-text {
    color: var(--brand-darker);
}

.brand-light-text {
    color: var(--brand-light);
}

.success-text {
    color: var(--success-text);
}

.danger-text {
    color: var(--danger-text);
}

/* Background colors */
.brand-bg {
    background-color: var(--brand-primary);
}

.brand-darker-bg {
    background-color: var(--brand-darker);
}

.brand-light-bg {
    background-color: var(--brand-light);
}

.brand-secondary-bg {
    background-color: var(--brand-secondary);
}

.success-bg {
    background-color: var(--success);
}

.danger-bg {
    background-color: var(--danger);
}

.light-bg {
    background-color: var(--light-text);
}

.light-btn-bg {
    background-color: var(--light-btn-bg);
}

.opacity-light {
    background-color: var(--opacity-light);
}

/* ------------------------------------------------------------------------------------ */
/* Fonts */

/* Font-weights */
/* regular */
.fw-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
}

/* medium */
.fw-500 {
    font-family: "Poppins", sans-serif;
    font-weight: 500 !important;
    font-style: normal;
}

/* semi-bold */
.fw-600 {
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-style: normal;
}

/* bold */
.fw-700 {
    font-family: "Poppins", sans-serif;
    font-weight: 700 !important;
    font-style: normal;
}

/* Font-tags */
h1 {
    font-size: 61px;
    line-height: 64px;
    letter-spacing: -4%;
    font-weight: 600;
}

h1.smaller {
    font-size: 52px;
    line-height: 57px;
    font-weight: 600;
}

h1.bigger {
    font-size: 80px;
    line-height: 100px;
    letter-spacing: -2%;
    font-weight: 600;
}

h2 {
    font-size: 38px;
    line-height: 42px;
    font-weight: 400;
}

h2.bigger {
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
}

h3.mid {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}

h3.smaller {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

h3.bigger {
    font-size: 26px;
    line-height: 29px;
    font-weight: 600;
}

h4 {
    font-size: 19px;
    line-height: 24px;
    font-weight: 600;
}

h4.bigger {
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-size: 12px;
    line-height: 17px;
    font-weight: 600;
}

p {
    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
}

a {
    cursor: pointer;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
}

.caption {
    font-size: 9px;
    line-height: 12px;
    font-weight: 500;
}

.btn-text {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}

.bigger-btn-text {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

.smaller-btn-text {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2%;
    font-weight: 700;
}

button {
    font-family: "Urbanist", sans-serif;
}

@media screen and (max-width: 1400px) {
    h1 {
        font-size: 48px;
        line-height: 54px;
        letter-spacing: -4%;
    }

    h1.smaller {
        font-size: 42px;
        line-height: 48px;
    }

    h1.bigger {
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -2%;
    }

    h2 {
        font-size: 32px;
        line-height: 36px;
    }

    h2.bigger {
        font-size: 34px;
        line-height: 38px;
    }

    h3 {
        font-size: 20px;
        line-height: 25px;
    }

    h3.smaller {
        font-size: 18px;
        line-height: 23px;
    }

    h3.bigger {
        font-size: 22px;
        line-height: 26px;
    }

    h4 {
        font-size: 16px;
        line-height: 20px;
    }

    h4.bigger {
        font-size: 20px;
        line-height: 24px;
    }

    h5 {
        font-size: 10px;
        line-height: 14px;
    }

    p {
        font-size: 12px;
        line-height: 18px;
    }

    a {
        font-size: 15px;
        line-height: 20px;
    }

    .caption {
        font-size: 9px;
        line-height: 10px;
    }

    .btn-text {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.8px;
    }

    .bigger-btn-text {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.8px;
    }

    .smaller-btn-text {
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 1%;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 32px;
        line-height: 39px;
        letter-spacing: -4%;
    }

    h1.smaller {
        font-size: 26px;
        line-height: 30px;
    }

    h1.bigger {
        font-size: 32px;
        line-height: 39px;
        letter-spacing: -2%;
    }

    h2 {
        font-size: 26px;
        line-height: 30px;
    }

    h2.bigger {
        font-size: 30px;
        line-height: 33px;
    }

    h3 {
        font-size: 15px;
        line-height: 17px;
    }

    h3.smaller {
        font-size: 14px;
        line-height: 19px;
    }

    h3.bigger {
        font-size: 26px;
        line-height: 29px;
    }

    h4 {
        font-size: 8px;
        line-height: 10px;
    }

    h4.bigger {
        font-size: 16px;
        line-height: 24px;
    }

    h5 {
        font-size: 6px;
        line-height: 10px;
    }

    p {
        font-size: 6px;
        line-height: 10px;
    }

    p.bigger {
        font-size: 13px;
        line-height: 20px;
    }

    a {
        font-size: 11px;
        line-height: 15px;
    }

    .caption {
        font-size: 9px;
        line-height: 12px;
    }

    .btn-text {
        font-size: 13px;
        line-height: 13px;
        letter-spacing: .7px;
    }

    .bigger-btn-text {
        font-size: 10px;
        line-height: 10px;
        letter-spacing: .5px;
    }

    .smaller-btn-text {
        font-size: 10px;
        line-height: 10px;
        letter-spacing: .5px;
    }
}

/* ------------------------------------------------------------------------------------ */
/* Form */

.input-container {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}

.floating-label {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: var(--brand-primary);
    
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: 
      top .3s,
      transform .3s;
}

textarea + .floating-label {
    top: 16px;
    transform: none;
}

.has-value + .floating-label {
    top: 6px;
    transform: none;
}

.custom-input {
    border: .5px solid var(--input-bg);
    border-radius: 6px;

    color: var(--primary-text);
    padding: 16px 12px 4px 12px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;

    width: 100%;
}

textarea {
    padding-top: 22px !important;
}

.custom-input::placeholder {
    opacity: 1;
    color: var(--brand-primary) !important;
    font-size: 14px;
    line-height: 12px;
    font-weight: 400;
}

textarea::placeholder {
    opacity: 1;
    color: var(--brand-primary) !important;
    font-size: 14px;
    line-height: 12px;
    font-weight: 400;
}

.custom-input:active, .custom-input:focus {
    outline: 1px solid var(--primary-text);
}

.custom-input.error {
    outline: 1px solid var(--danger);
    border-color: var(--danger);
    padding-right: 30px;
}

.error-svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    opacity: 0;
}

.custom-input.error + .floating-label + .error-svg {
    opacity: 1;
}

.error-message {
    opacity: 0;
    font-size: 12px;
    font-weight: 500;
    color: var(--danger);
    padding: 2px 0;
}

@media screen and (max-width: 1200px) {
}

/* ------------------------------------------------------------------------------------ */
/* Buttons */

.rounded-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;
    border-radius: 100px;
    border: none;
    box-shadow: none;
    min-width: 125px;

    color: var(--light-text);
    transition: 
        background-color .3s,
        opacity .3s;
}

.no-bg-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    box-shadow: none;
    background-color: transparent;
}

.square-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    border-radius: 9px;
    border: none;
    box-shadow: none;

    transition: background-color .3s;
}

.custom-btn.brand-bg:hover {
    background-color: var(--brand-primary-hover);
}

.custom-btn.brand-darker-bg:hover {
    background-color: var(--brand-darker-hover);
}

.custom-btn.brand-light-bg:hover {
    background-color: var(--brand-light-hover);
}

.custom-btn.light-btn-bg:hover {
    background-color: var(--light-btn-bg-hover);
}

.custom-btn.brand-secondary-bg:hover {
    background-color: var(--brand-secondary-hover);
}

.custom-btn:disabled {
    opacity: .5;
}

@media screen and (max-width: 1200px) {
    .rounded-btn {
        padding: 15px 17px;
        border-radius: 100px;
        min-width: 132px;
    }

    .square-btn {
        padding: 5px;
        border-radius: 7px;
    }
}

/* ------------------------------------------------------------------------------------ */
/* Folder Card */

/* Card base */
.card-fold {
    position: relative;
    width: 100%;
    border-radius: 20px 0 20px 20px;
    padding: 20px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.22);
}

/* Card detail container */
.card-top-container {
    width: 100%;
    position: absolute;
    top: -20px;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: end;
}

/* Card detail right bar */
.card-top-bar {
    height: 19px;
    width: 50%;
    border-radius: 0 20px 0 0;
}

/* Middle connector of card detail */
.folder-card-connection {
    height: 20px;
    width: 46px;
    transform: translateY(.5px);
}

/* Square Card */
.square-card {
    border-radius: 12px;
    box-shadow: 12px 12px 15px 0 rgba(0, 0, 0, 0.07);
}

/* Square Card */
.big-square-card {
    border-radius: 20px;
    box-shadow: -7px 8px 29px 0 rgba(0, 0, 0, 0.07);
}

.big-square-padding {
    padding: 76px 58px;
}

@media screen and (max-width: 1200px) {
    .card-top-bar {
        transform: translateY(1px);
    }

    .big-square-card {
        border-radius: 12px;
    }

    .big-square-padding {
        padding: 43px 33px;
    }
}

/* ------------------------------------------------------------------------------------ */
/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    
    background-color: transparent;
    padding: 48px 0 29px 0;
    width: 100%;
    box-shadow: none;

    transition: 
        background-color .3s,
        padding .3s,
        box-shadow .3s;
}

header.scrolled {
    background-color: var(--light-text);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    padding: 16px 0;
}

@media screen and (max-width: 1200px) {
    header {
        padding: 43px 0 25px 0;
    }

    header.scrolled {
        padding: 14px 0;
    }
}

/* ------------------------------------------------------------------------------------ */
/* Footer */

.separator {
    width: 100%;
    height: 1px;
    display: block;
}

.social-media-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
}

/* ------------------------------------------------------------------------------------ */
/* Hero */

.hero {
    padding-top: 206px;
    padding-bottom: 100px;
}

.hero h1 {
    max-width: 580px;
}

.doctor-hero-img {
    max-width: 517px;
    transform: translate(40px, -24px);
}

.mobile-hero-cards {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    transform: translate(-70px, 70px);
}

@media screen and (max-width: 1400px) {
    .mobile-hero-cards {
        position: absolute;
        bottom: 50px;
        left: 50px;
        z-index: 9;
        transform: translate(-70px, 70px);
    }
}

@media screen and (max-width: 1200px) {
    .hero {
        padding-top: 113px;
        padding-bottom: 40px;
    }

    .hero h1 {
        max-width: 300px;
    }

    .hero h1, .hero h3 {
        text-align: center;
        margin: auto;
    }

    .img-go-to {
        width: 13px;
    }

    .image-doctor-container {
        max-width: 516px;
        margin: auto;
    }

    .doctor-hero-img {
        transform: translate(30px, -24px);
        max-width: unset;
    }

    .mobile-hero-cards {
        top: 5%;
        left: 0;
        transform: none;
    }

    .square-card-hero {
        bottom: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .square-card-hero img {
        width: 20px;
    }
}

/* ------------------------------------------------------------------------------------ */
/* fast-transfer */

.fast-transfer h2 {
    max-width: 395px; 
    min-width: 395px;
}

@media screen and (max-width: 1200px) {
    .fast-transfer h2 {
        min-width: unset;
        max-width: 357px;
    }

    .fast-transfer h3 {
        max-width: 357px;
    }

    .mobile-cards-fast-transfer {
        max-width: 360px;
    }
}

/* ------------------------------------------------------------------------------------ */
/* Por que a Imagenio? */

.why-imagenio h1 {
    max-width: 460px; 
    transform: translateY(-12px);
}

.family-doctor-img {
    max-width: 926px;
}

.square-card-why-imagenio {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 9;
    transform: translateY(-50%);
}

@media screen and (max-width: 1200px) {
    .why-imagenio h1 {
        max-width: unset; 
        transform: none;
    }

    .square-card-why-imagenio {
        top: 75%;
        left: 0;
        transform: none;

        padding: 16px 25px !important;
        min-width: 194px;
        max-height: 150px;

        transform: translateX(-20px);
    }

    .mobile-family-container {
        max-width: 516px;
        margin: auto;
    }

    .mobile-family-doctor-img {
        display: block;
        max-width: 516px;
    }
}


/* ------------------------------------------------------------------------------------ */
/* Custom Carroussel */

.custom-carroussel-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    overflow-x: auto;
    behavior: smooth;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.custom-carroussel-container::-webkit-scrollbar {
    display: none;
}

.carroussel-card {
    height: 320px;
    min-height: 320px;
    max-height: 320px;

    width: 32%;
    min-width: 32%;
    max-width: 32%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 31px 56px 0 56px;
}

.carroussel-card .arrow {
    width: 47px;
}

.carroussel-card h3 {
    max-width: 220px;
    padding-top: 39px;
    padding-bottom: 8px;
}

.arrow-btn {
    width: 72px;
}

@media screen and (max-width: 1400px) {
    .carroussel-card {
        height: 360px;
        min-height: 360px;
        max-height: 360px;
    }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
    .carroussel-card {
        height: 380px;
        min-height: 380px;
        max-height: 380px;

        width: 48%;
        min-width: 48%;
        max-width: 48%;
    }

    .arrow-btn {
        width: 50px;
    }
}

@media screen and (max-width: 768px) {
    .carroussel-card {
        height: 420px;
        min-height: 420px;
        max-height: 420px;

        padding-right: 43px;
        padding-left: 43px;

        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}

/* ------------------------------------------------------------------------------------ */
/*  Reduce-cost  */

.reduce-cost h1 {
    max-width: 610px;
    min-width: 610px;
}

@media screen and (max-width: 1200px) {
    .reduce-cost h1 {
        max-width: 358px;
        min-width: 358px;
        margin: 0 auto;
    }

    .reduce-cost h3.image-h3 {
        max-width: 358px;
        min-width: 358px;
        margin: 0 auto;
    }
}

/* ------------------------------------------------------------------------------------ */
/* Practicity */

.img-doctor-female {
    max-width: 423px;
}

.mobile-practicity-cards {
    position: absolute;
    top: 42%;
    right: 0;
    max-width: 243px;

    transform: translateX(30px);
}

.mobile-practicity-cards .square-card {
    padding: 12px 30px;
}

@media screen and (max-width: 1200px) {
}

/* ------------------------------------------------------------------------------------ */
/* FAQ */

.faq-card-padding {
    padding: 33px 40px;
}

.faq-big-card-padding {
    padding: 47px 70px;
}

@media screen and (max-width: 1200px) {
    .mobile-faq-card-padding {
        padding: 16px;
    }

    .faq-big-card-padding {
        padding: 47px 33px;
    }
}

/* ------------------------------------------------------------------------------------ */
/* Custom Accordion */

.custom-accordion {
    border-top: 1px solid var(--opacity-light);
}

.custom-accordion.active .accordion-header .open-close-btn {
    transform: rotate(90deg);
}

.custom-accordion.active .accordion-content {
    grid-template-rows: 1fr;
}

.custom-accordion .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    cursor: pointer;

    .open-close-btn {
        transform: rotate(0deg);
        transition: .3s;
    }
}

.custom-accordion .accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms;
}

.custom-accordion .content-hider {
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
}

/* ------------------------------------------------------------------------------------ */
/* Modal */

.backdrop-modal {
    background-color: rgba(0, 0, 0, .5);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    height: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;

    animation-name: fade-in;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.modal-container-div {
    max-width: 738px;
    width: 100%;

    animation-name: fade-in;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* ------------------------------------------------------------------------------------ */
/* Iframe */

.video-container {
position: relative;
width: 100%;
padding-top: 56.25%;
}

.video-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 0;
}